APP_ID=mipt-fastapi-template
APP_NAME="MIPT FastAPI Template"
SERVER_PORT=1337
ENVIRONMENT=dev
SUB_DIR=/api

# SQLite database configuration
DATABASE_URL=sqlite:///./mipt.db

DEBUG_MODE=TRUE
DISABLE_DEBUG_QUERY=TRUE
